 

.table {
  display: table;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  padding-left: 2%; 
}

.table-cell-flag {
  display: table-cell;
  margin-left: 50%;
}


.table-width {
  width: 20%;
}

.country-information-table {

}

.country-languages-table {

}

.country-currencies-table {

}

.country-timezones-table {

}

.country-translations-table {

}